---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I'm from Ulaanbaatar, Mongolia. Although I wasn’t raised in the <a
				href="https://www.google.com/maps/place/Terelj,+Ulaanbaatar,+Mongolia/@47.9849072,107.4658325,14z/data=!4m6!3m5!1s0x5d942b8007b0a2f7:0x2a894be7dd8e2b6e!8m2!3d47.9849072!4d107.4658325!16s%2Fg%2F12vrr_rkn?entry=ttu&g_ep=EgoyMDI1MDUxMS4wIKXMDSoASAFQAw%3D%3D"
				target="_blank"
				rel="noopener noreferrer">countryside</a
			>
			, I’ve always enjoyed going there, waking up in a tent or yurt with the morning sun and fresh dew.
			That fresh air.
		</p>
		<p>
			I lived in Moscow during my undergraduate years (dveri zakrivayutsa, sledushiya ...). In 2022,
			I moved to Grenoble, the land of Chartreuse, to begin my Master's studies, and I’ve been
			living in France ever since. Through this journey, I’ve loved the opportunity to make new
			friends and connect with fellow ones.
		</p>
		<p>
			Besides building things, I love judo because it introduced me to amazing friends from whom
			I've learned a lot.
		</p>
	</div>
</PageLayout>
